<h1>Idea: <%= @idea.title %></h1>

<h3>Description: <%= @idea.description %></h3>

<%= link_to "Edit", edit_idea_path(@idea)%>
<%= button_to "Delete", @idea, method: :delete%>
<%= link_to "See all Ideas", ideas_path%>